/* Section Jumbotron */
#jumbotron {
  background-image: linear-gradient(
    135deg,
    var(--primary-color),
    var(--base-color)
  );
  padding: 5rem 6rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.jumbotronTitle {
  display: flex;
  width: 60%;
  flex-direction: column;

  margin: 2rem 0px;
  padding: 0px auto;
}
.jumbotronTitle h2 {
  font-size: var(--h1-size);

  line-height: 1.2;
  color: var(--neutral-color);
}
.jumbotronTitle p {
  color: var(--neutral-color);

  font-size: var(--paragraf-1);
  text-align: justify;
}
.jumbotronImg {
  width: 40%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
}
.jumbotronImg > img {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 4rem 4rem var(--neutral-color);
  border-radius: 25%;
}

/* Vision Section  */
#vision {
  margin-top: 3rem;
  padding: 2rem 6rem 5rem;

  display: flex;
  justify-content: space-between;
}
#vision .visionContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
#vision .visionContainer h2 {
  font-size: var(--h2-size);
  color: var(--text-color);
}
#vision .visionContainer p {
  font-size: var(--paragraf-1);
  text-align: justify;
}

#vision .visionImg {
  width: 40%;
  height: 18rem;
}
#vision .visionImg img {
  width: 80%;
  /* object-fit: cover; */
  height: 100%;
  box-shadow: 0.1rem 0.1rem 4rem 4rem var(--neutral-color);
}

/* mission Section  */
#mission {
  padding: 2rem 6rem 5rem;

  display: flex;
  justify-content: space-between;
}
#mission .missionContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
#mission .missionContainer h2 {
  font-size: var(--h2-size);
  color: var(--text-color);
}
#mission .missionContainer p {
  font-size: var(--paragraf-1);
  text-align: justify;
}

#mission .missionImg {
  width: 40%;
  height: 18rem;
}
#mission .missionImg img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  box-shadow: 0.1rem 0.1rem 4rem 4rem var(--neutral-color);
}

#missionMission h2 {
  text-align: center;
}
.allCard {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.card {
  background-color: var(--neutral-color);
  width: 25rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.3rem;
  flex-direction: row;
}
.cardImg {
  border-radius: 0.3rem;
  width: 4rem;
  height: 6rem;
  flex-shrink: 0;
}
.cardContent {
  padding: 0.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardImg img {
  border-radius: 0.3rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
#ourTeam {
  padding: 3rem;
  background-color: var(--cta-color);
}

#ourTeam h2 {
  text-align: center;
  font-size: var(--h2-size);
  color: var(--neutral-color);
  text-align: center;
}
.cardDesc {
  font-size: 0.9rem;
  text-align: justify;
  color: #555;
}

.teamGrid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.teamCard {
  width: 220px;
  background: var(--neutral-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--neutral-color);

  transition: ease-in-out 300ms;
  text-align: center;
}

.teamCard:hover {
  transform: scale(1.1);
}
.teamCard img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.teamCard div {
  display: flex;
  justify-content: center;
}

.teamCard h4 {
  font-size: var(--h4-size);
  /* margin-bottom: 0.3rem; */
  color: var(--text-color);
}

.teamCard span {
  color: var(--text-color);
  font-size: var(--paragraf-2);
}
