/* Main */
@import "preset.css";

/* Section Jumbotron */

.jumbotronTitle {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
}
.jumbotronTitle h2 {
  font-size: var(--h1-size);
  line-height: 1.2;
  color: var(--neutral-color);
}
.jumbotronTitle p {
  color: var(--neutral-color);
  font-size: var(--h4-size);
  text-align: justify;
}
.jumbotronImg {
  width: 40%;
  display: flex;
  /* border:solid; */
  justify-content: center;
}
.jumbotronImg > img {
  width: 70%;
  /* border: solid;   */
}

/* Populer Course */
#populerCourse {
  padding: 2rem 5rem;
}
#populerCourse h2 {
  padding: 2rem 0;
  font-size: var(--h2-size);
  color: var(--text-color);
  text-align: center;
}

#populerCourse .allCard {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
#populerCourse .card {
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  flex: 1;
}
#populerCourse .cardImg {
  margin-bottom: 0.5rem;
  height: 8rem;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
#populerCourse .cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}
#populerCourse .cardImg img {
  border-radius: 0.3rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#populerCourse .cardTitle {
  font-size: var(--h4-size);
  color: var(--text-color);
}
#populerCourse .cardDesc {
  font-size: var(--paragraf-1);
  text-align: justify;
  white-space: nowrap;
  width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-color);
}
#populerCourse .cardLink {
  margin-top: auto;
  align-self: flex-end;
  width: fit-content;
}

/* Why Choose Us */
#whyChooseUs {
  background-color: var(--cta-soft-color);
  margin-top: 2rem;
  padding: 2rem 5rem;
}
#whyChooseUs h2 {
  font-size: var(--h2-size);
  color: var(--text-color);
  margin: 2rem 0;
  text-align: center;
}
#whyChooseUs .allCard {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
#whyChooseUs .card {
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  flex: 1;
  background-color: var(--neutral-color);
  gap: 1rem;
}
#whyChooseUs .cardImg {
  height: 15rem;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
#whyChooseUs .cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}
#whyChooseUs .cardImg img {
  width: 80%;
  height: 14.5rem;
  border-radius: 2rem;
}

.img1 {
  background-image: radial-gradient(
    var(--neutral-color) 50%,
    var(--primary-color) 100%
  );
}
.img2 {
  background-image: radial-gradient(
    var(--neutral-color) 50%,
    var(--secondary-color) 100%
  );
}
.img3 {
  background-image: radial-gradient(
    var(--neutral-color) 50%,
    var(--cta-color) 100%
  );
}
#whyChooseUs .cardTitle {
  font-size: var(--h3-size);
  text-align: center;
  color: var(--text-color);
}
#whyChooseUs .cardDesc {
  font-size: var(--paragraf-1);
  text-align: center;
  padding: 0 1rem;
  color: var(--text-color);
}
#whyChooseUs .learnMore {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .allCard {
    flex-wrap: wrap;
  }
  .signUp {
    display: none;
  }
}

@media (max-width: 868px) {
  .cardTitle {
    font-size: 80%;
  }
  .cardDesc {
    font-size: 0.625rem;
  }
  #jumbotron {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .jumbotronTitle {
    width: 100%;
    text-align: justify;
  }
  .jumbotronImg {
    width: 100%;
  }
}

@media (max-width: 700px) {
}
